.About
    margin-top: 30px
    color: $dark-color
    &__title
        margin-bottom: 30px
        text-align: center
        font-size: $subtitle-font-size
        letter-spacing: 1px
        position: relative
        &::after
            content: ''
            position: absolute
            bottom: -20px
            left: 50%
            transform: translateX(-50%)
            width: 60%
            border-bottom: 1px solid $dark-color
    &__section
        padding: 50px 30px
        display: flex
        width: 100%
        position: relative
        &__image
            width: 40%
            min-width: 300px
            & img 
                width: 100%
                height: 100%
                max-height: 300px
        &__description
            padding: 0 0 0 20px
            text-align: justify
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            & h4
                font-size: $normal-font-size
                padding-bottom: 15px

.bgc-right
    background-color: $bright-level2-color
    flex-direction: row-reverse
.pleft
    padding: 0 20px 0 0

@media (max-width: $tablet-width)
    .About__section
        flex-direction: column
        align-items: center
        &__image
            width: 80%
            margin-bottom: 30px
        &__description
            padding-left: 0