.Home__recipes
    padding: 50px 30px
    background-color: $dark-color
    &__elements
        display: flex
        justify-content: space-evenly
        align-items: center
        width: 100%
        &__element
            position: relative
            min-width: 200px
            max-width: 250px
            height: 180px
            box-shadow: 0 0 2px 0 $bright-level1-color
            margin: 5px
            transition: .3s
            &__image
                width: 100%
                height: 100%
            &__title
                position: absolute
                width: 100%
                bottom: 0px
                left: 0
                text-align: center
                color: $bright-level1-color
                padding: 3px 0
                background-color: #05050581
            &:hover
                transform: translateY(-5px)
    &__about
        margin-top: 50px
        padding: 20px
    &__blog
        margin-top: 50px
        padding: 20px
.Home__intro
    &__info
        color: $dark-color
        min-height: 500px
        position: relative
        margin-bottom: 50px
        & h2
            padding: 30px 0 5px 30px
        & h4
            padding: 5px 0 0 30px
        & p 
            padding: 2px 0 0 30px
        &__link
            position: absolute
            bottom: 80px
            right: 10%
            background-color: $main-color
            color: $bright-level2-color
            text-decoration: none
            padding: 10px 20px
            border-radius: 5px
            font-size: $subtitle-font-size
            box-shadow: 0 1px 2px 1px $box-shadow-dark-color
            transition: .3s
            &:hover
                transform: scale(1.1) translateY(10px)
        &__image    
            background-image: url('../../img/intro_bg.png')
            min-height: 250px
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            box-shadow: 0px 0px 2px 0 $box-shadow-dark-color
.Home__about
    position: relative
    padding-top: 30px
    min-height: 500px
    width: 100%
    background-color: $dark-color
    color: $bright-level2-color
    &__title
        text-align: center
        margin-bottom: 60px
        position: relative  
        &::after
            content: ''
            height: 300%
            width: 80%
            position: absolute
            border-top: 1px solid $bright-level3-color
            border-bottom: 1px solid $bright-level3-color
            left: 10%
            top: -100%
    &__slider
        width: 100%
        height: 400px
        position: relative
        &__slide
            position: absolute
            width: 100%
            height: 100%
            opacity: 0
            animation: slide 12s infinite
            display: flex
            justify-content: space-around
            align-items: center
            &__section
                padding: 20px
                height: 100%
                width: 50%
                display: flex
                flex-direction: column
                align-items: center
                & img
                    max-width: 400px
                    width: 90%
                    height: 80%
                & p 
                    padding: 10px
                    text-align: center
        &__slide
            &:nth-child(2) 
                animation-delay: 4s
            &:nth-child(3) 
                animation-delay: 8s
                
@keyframes slide
    0% 
        opacity: 0
    5%
        opacity: 1
    30%
        opacity: 1
    33%
        opacity: 0
    100%
        opacity: 0

.Home__blog
    padding: 20px
    margin-top: 50px
    &__title
        text-align: center
        margin-bottom: 60px
        position: relative  
        &::after
            content: ''
            height: 300%
            width: 80%
            position: absolute
            border-top: 1px solid $bright-level3-color
            border-bottom: 1px solid $bright-level3-color
            left: 10%
            top: -100%
    &__latest
        min-height: 400px
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center
        &__item
            width: 30%
            display: flex
            flex-direction: column
            color: $dark-color
            text-decoration: none
            box-shadow: 0px 0px 2px 0px $dark-color
            &__image
                width: 100%
                height: 250px
                & img
                    width: 100%
                    height: 100%
            & h4
                padding: 10px 10px
                text-align: center
                height: 50px
            p
                display: flex
                justify-content: flex-end
                font-size: $small-font-size
                font-family: cursive
                color: $main-color
                padding: 3px
                
@media (max-width: $breakpoint-1)
    .Home__recipes__elements
        align-items: space-evenly
        flex-wrap: wrap
        &__element
            min-width: 150px
            max-width: 40%
            height: 220px
            margin: 20px 10px

@media (max-width: $tablet-width)
    .Home
        &__recipes__elements__element
            max-width: 400px
            min-width: 280px
            height: 180px
        &__intro__info
            padding-bottom: 100px
            &__link
                bottom: 0
                right: calc(50% - 80px)
        &__about__slider
            height: 800px
            &__slide
                flex-direction: column
                &__section
                    width: 100%
        &__blog__latest
            flex-direction: column
            &__item
                max-width: 440px
                width: 90%
                margin: 10px 0


@media (max-width: $phone-small-width)
    .Home__about__slider
        height: 600px
        &__slide
            justify-content: space-evenly
            &__section img
                height: 60%