.SearchBar
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #ccc
    min-height: 150px
    &__logo
        width: 30%
        display: flex
        align-items: center
        justify-content: flex-start
        &__icon
            font-size: 60px
            color: brown
            margin: 0 10px
        &__title
            font-size: 30px
            & span
                color: brown
                font-size: 34px
            
    &__form
        min-width: 50%
        display: flex
        justify-content: center
        &__input
            width: 70%
            min-width: 200px
            padding: 5px 10px
            font-size: 18px
        &__button
            min-width: 60px
            padding: 5px 10px
            font-size: 18px
            cursor: pointer

