.Nav
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $bright-level2-color
    min-height: 150px
    box-shadow: 0 1px 1px 1px $box-shadow-dark-color
    &__logo
        width: 30%
        margin-left: 20px
        &__link 
            color: $dark-color
            text-decoration: none
            display: flex
            align-items: center
            justify-content: flex-start
            &__icon
                font-size: 60px
                color: $main-color
                transition: .3s
            &__title
                font-size: 30px
                font-family:  cursive
                & span
                    color: $main-color
                    font-size: 34px
        &__link:hover &__link__icon
            transform: scale(1.1) translate(10px, -10px)
    &__links 
        min-width: 20%
        margin-right: 20px
        &__list
            display: flex
            list-style: none
            justify-content: space-around
            &__item
                color: $dark-color
                text-decoration: none
                font-size: $normal-font-size
                padding: 5px
                position: relative
                &::before
                    content: '' 
                    position: absolute
                    bottom: -20px
                    left: 50%
                    transform: translateX(-50%)
                    border-bottom: 0px solid $main-color
                    border-right: 20px solid transparent
                    border-left: 20px solid transparent
                    transition: .3s
                &:hover::before
                    border-bottom: 20px solid $main-color
                    


